body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.app {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;
  padding: 40px 0;
}

.headerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft h3, .headerLeft p {
  margin: 0;
}

.headerLeft h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.headerLeft p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
}

.headerLeft > img {
  margin-right: 15px;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.headerRight li {
  list-style: none;
  margin-right: 30px;
  cursor: pointer;
}

.headerRight li:first-child > img {
  margin-right: 30px;
}

.headerRight li:first-child > span {
  vertical-align: text-top;
}

.contentTop {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.searchBlock {
  display: flex;
  align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
}

.searchBlock input {
  border: 0;
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.content h1 {
  margin: 0;
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favorite {
  position: absolute;
  cursor: pointer;
}

.card {
  border: 1px solid #f8f8f8;
  padding: 30px;
  width: 150px;
  border-radius: 40px;
  margin-bottom: 40px;
  transition: box-shadow 0.2s ease-in-out, transform  0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.card p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
} 

.card span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #BDBDBD;
}

.card b {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

.cardBottomInfo {
  display: flex;
  flex-direction: column;
}

.cardBtnAdd, .cartBtnCancel {
  background: #FFFFFF;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  border: none;
  align-self: center;
}


.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawerCart {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 345px;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.cartItemInfo {
  margin: 0 21px;
}

.drawerCart h3 {
  margin: 0;
}

.cartItem p {
  font-style: normal;
  margin-bottom: 8px;
}

.cartItemInfo b {
  font-weight: 700;
}

.cartItemInfo b, 
.cartItem p {
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 14px;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 15px;
  margin: 20px 0;
}

.cartBtnCancel {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.cartBtnCancel:hover {
  opacity: 1;
}

.dashed {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -3px;
  margin: 0 7px;
}

.cartContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px;
}



.cartBottom li{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cartBottom ul {
  padding: 0;
}

.greenButton {
  padding: 0;
  border: none;
  width: 345px;
  height: 55px;
  background: #9DD458;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 5px;
  cursor: pointer;
 
}

.greenButton:hover {
  background-color: #91d53e ;
}

.greenButton:active {
  background-color: #adda77 ;
}

.drawerCart h2 {
  display: flex;
  justify-content: space-between;
}

.drawerCart h2 img {
  cursor: pointer;
}

.cartContent {
  overflow: auto;
}